@import 'variables';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: $padding-medio $padding-grande;
  background-color: $color-fondo;
  border-bottom: 1px solid $color-borde;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: $padding-pequeno;
}

.navbar a {
  text-decoration: none;
  color: $color-texto;
  font-weight: bold;
  transition: color 0.3s ease;

  &:hover {
    color: $color-primario;
  }
}

.cerrar-sesion {
  background-color: #dc3545;
  color: white;
  padding: $padding-pequeno $padding-medio;
  border-radius: $radio-borde-grande;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#dc3545, 10%);
  }
}

.badge {
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.bienvenido-text {
  margin-right: $padding-grande; /* Ajuste para darle espacio al botón de cerrar sesión */
  font-size: $fuente-media;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.search-bar button {
    margin-top: 0;  /* Elimina el margen superior */
    padding: 0.5rem;  /* Ajusta el padding si es necesario */
    display: flex;
    align-items: center;  /* Asegúrate de que el icono esté alineado */
}
button.btn.btn-outline-success {
    margin-top: 0;
}

// Media queries para pantallas grandes
@media (min-width: 768px) {
  .navbar-collapse {
    display: flex !important;
  }
}