.producto {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.producto h2 {
    margin-bottom: 10px;
}

.producto p {
    margin-bottom: 5px;
}

.producto .btn {
    margin-top: 10px;
}

.btn-carrito {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-carrito:hover {
    background-color: #0056b3;
}

.stock-disponible {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.sin-stock {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-bar {
    margin-bottom: 20px;
}

.productos-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.producto-item {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.producto-imagen {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.producto-imagenes {
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    align-items: center;
    height: 200px;
}