{% extends "base.html" %}

{% block content %}
    <h1>Productos</h1>
    <ul>
    {% for producto in productos %}
        <li>
            <h2>{{ producto.nombre }}</h2>
            <p>Precio: €{{ producto.precio }}</p>
            {% if producto.stock > 0 %}
                <form action="{{ url_for('add_to_cart', producto_id=producto.id) }}" method="POST">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" min="1" value="1">
                    <button type="submit">Añadir al carrito</button>
                </form>
            {% else %}
                <p style="color: red;">Sin stock</p>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}